body {
    background-color: #4B0082; /* Cor roxa escura (índigo) */
    color: #FFFFFF; /* Cor do texto branca para contraste */
    font-family: Arial, sans-serif; /* Fonte padrão */
}

h1, h2, h3, h4, h5, h6 {
    color: #FFD700; /* Cor dourada para títulos */
}
